.169_3 { 
	overflow:hidden;
}
.e169_3 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:1440px;
	height:900px;
	position:absolute;
}
.e169_4 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:816px;
	position:absolute;
	left:0px;
	top:84px;
}
.e169_5 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:40px;
}
.e169_6 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.169_7 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_7 { 
	width:12px;
	height:12px;
	position:absolute;
	left:2.25px;
	top:2.25px;
}
.169_8 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_8 { 
	width:3.262500762939453px;
	height:3.2624998092651367px;
	position:absolute;
	left:12.487499237060547px;
	top:12.487499237060547px;
}
.e169_9 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e169_10 { 
	width:310px;
	height:167px;
	position:absolute;
	left:0px;
	top:111px;
}
.e169_11 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:35px;
	height:14px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e169_12 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:24px;
}
.e169_13 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.169_14 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_14 { 
	width:9.75px;
	height:0px;
	position:absolute;
	left:6px;
	top:4.5px;
}
.169_15 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_15 { 
	width:9.75px;
	height:0px;
	position:absolute;
	left:6px;
	top:9px;
}
.169_16 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_16 { 
	width:9.75px;
	height:0px;
	position:absolute;
	left:6px;
	top:13.5px;
}
.169_17 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_17 { 
	width:0.0074999332427978516px;
	height:0px;
	position:absolute;
	left:2.25px;
	top:4.5px;
}
.169_18 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_18 { 
	width:0.0074999332427978516px;
	height:0px;
	position:absolute;
	left:2.25px;
	top:9px;
}
.169_19 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_19 { 
	width:0.0074999332427978516px;
	height:0px;
	position:absolute;
	left:2.25px;
	top:13.5px;
}
.e169_20 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e169_21 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:75px;
}
.e169_22 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.169_23 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_23 { 
	width:14.37868881225586px;
	height:14.374929428100586px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.169_24 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_24 { 
	width:0.007500171661376953px;
	height:0px;
	position:absolute;
	left:5.25px;
	top:5.25px;
}
.e169_25 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e169_26 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:126px;
}
.e169_27 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.169_28 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_28 { 
	width:10.5px;
	height:10.5px;
	position:absolute;
	left:3.75px;
	top:0.75px;
}
.169_29 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_29 { 
	width:7.5px;
	height:6.840001106262207px;
	position:absolute;
	left:5.25px;
	top:10.410000801086426px;
}
.e169_30 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e169_31 { 
	width:310px;
	height:167px;
	position:absolute;
	left:0px;
	top:308px;
}
.e169_32 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:134px;
	height:14px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e169_33 { 
	background-color:rgba(252.00000017881393, 236.00000113248825, 251.3600081205368, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:24px;
}
.e169_34 { 
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:5px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_35 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.e169_36 { 
	width:15px;
	height:16px;
	position:absolute;
	left:1px;
	top:2px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e169_37 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e169_38 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:75px;
}
.e169_39 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.e169_40 { 
	width:13.500020980834961px;
	height:13.500020980834961px;
	position:absolute;
	left:2.25px;
	top:2.2499783039093018px;
}
.169_41 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_41 { 
	width:13.500020980834961px;
	height:13.500020980834961px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_42 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e169_43 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:126px;
}
.e169_44 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.169_45 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_45 { 
	width:15.677338600158691px;
	height:13.673869132995605px;
	position:absolute;
	left:1.1615327596664429px;
	top:2.2486302852630615px;
}
.e169_46 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e169_47 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}
.169_47 { 
	border:1px solid rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
}
.e169_48 { 
	width:70.9281997680664px;
	height:50px;
	position:absolute;
	left:1319px;
	top:17px;
}
.169_49 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e169_49 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/profile_pic.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e169_50 { 
	background-color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:6.928201675415039px;
	height:6px;
	position:absolute;
	left:64px;
	top:22px;
}
.e169_51 { 
	width:24px;
	height:31px;
	position:absolute;
	left:1265px;
	top:23px;
}
.e169_52 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:7px;
}
.e169_53 { 
	width:18px;
	height:19.996456146240234px;
	position:absolute;
	left:3px;
	top:2px;
}
.169_54 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_54 { 
	width:18px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.169_55 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_55 { 
	width:3.4599990844726562px;
	height:0.9964561462402344px;
	position:absolute;
	left:7.270000457763672px;
	top:19px;
}
.e169_56 { 
	border-radius:500px;
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:9px;
	top:0px;
}
.169_56 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e169_57 { 
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:136px;
	height:38px;
	position:absolute;
	left:1086px;
	top:23px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e169_58 { 
	width:13px;
	height:13px;
	position:absolute;
	left:20px;
	top:12.5px;
}
.169_59 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e169_59 { 
	width:10.833333969116211px;
	height:10.833333969116211px;
	position:absolute;
	left:1.0833333730697632px;
	top:1.0833333730697632px;
}
.169_60 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e169_60 { 
	position:absolute;
	left:6.5px;
	top:4.333333492279053px;
}
.169_61 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e169_61 { 
	width:4.333333492279053px;
	height:0px;
	position:absolute;
	left:4.333333492279053px;
	top:6.5px;
}
.e169_62 { 
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:14px;
	position:absolute;
	left:45px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e169_63 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:82px;
	height:21px;
	position:absolute;
	left:360px;
	top:31px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
}
.e169_64 { 
	width:131.99993896484375px;
	height:52px;
	position:absolute;
	left:33.000057220458984px;
	top:18.000001907348633px;
}
.e169_65 { 
	color:rgba(233.7500050663948, 148.04166734218597, 183.75345826148987, 1);
	width:75px;
	height:19px;
	position:absolute;
	left:56.999942779541016px;
	top:17.999967575073242px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:5;
}
.e169_66 { 
	width:32.99998474121094px;
	height:33.3170166015625px;
	position:absolute;
	left:9px;
	top:33.3170166015625px;
}
.e169_68 { 
	background-color:rgba(255, 255, 255, 0.8999999761581421);
	width:32.99998474121094px;
	height:33.3170166015625px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_69 { 
	width:52px;
	height:49px;
	position:absolute;
	left:0px;
	top:3px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e169_70 { 
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 0.75);
	width:16px;
	height:15px;
	position:absolute;
	left:1353px;
	top:17px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}
.169_70 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e169_71 { 
	color:rgba(255, 255, 255, 1);
	width:6px;
	height:11px;
	position:absolute;
	left:5px;
	top:2px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:5;
}
.e169_72 { 
	width:1120px;
	height:642px;
	position:absolute;
	left:310px;
	top:76px;
}
.e169_73 { 
	width:720px;
	height:562px;
	position:absolute;
	left:45px;
	top:40px;
}
.e169_74 { 
	box-shadow:2px 1px 5px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(255, 255, 255, 1);
	width:720px;
	height:562px;
	position:absolute;
	left:0px;
	top:0px;
}
.169_75 { 
	border:2px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}
.e169_75 { 
	width:640px;
	height:34px;
	position:absolute;
	left:40px;
	top:30px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e169_76 { 
	width:58px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_77 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:38px;
	height:14px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e169_78 { 
	width:44px;
	height:24px;
	position:absolute;
	left:596px;
	top:5px;
}
.e169_79 { 
	width:24px;
	height:24px;
	position:absolute;
	left:10px;
	top:0px;
}
.169_80 { 
	border:1px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_80 { 
	width:12px;
	height:6px;
	position:absolute;
	left:6px;
	top:9px;
}
.169_81 { 
	border:2px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}
.e169_81 { 
	width:640px;
	height:34px;
	position:absolute;
	left:40px;
	top:84px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e169_82 { 
	width:228px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_83 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:208px;
	height:14px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.169_84 { 
	border:2px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}
.e169_84 { 
	width:640px;
	height:344px;
	position:absolute;
	left:40px;
	top:138px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e169_85 { 
	width:96px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_86 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:76px;
	height:14px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e169_87 { 
	width:640px;
	height:30px;
	position:absolute;
	left:40px;
	top:502px;
}
.e169_88 { 
	width:267px;
	height:30px;
	position:absolute;
	left:399px;
	top:0px;
}
.e169_89 { 
	background-color:rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
	width:109px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e169_92 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:69px;
	height:14px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e169_93 { 
	background-color:rgba(244.0000006556511, 34.99999791383743, 210.5600318312645, 1);
	opacity:0.5;
	width:134px;
	height:30px;
	position:absolute;
	left:133px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e169_94 { 
	width:13px;
	height:13px;
	position:absolute;
	left:20px;
	top:8.5px;
}
.e169_95 { 
	color:rgba(255, 255, 255, 1);
	width:69px;
	height:14px;
	position:absolute;
	left:45px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e169_96 { 
	background-color:rgba(231.62500709295273, 88.78957718610764, 200.20116448402405, 1);
	opacity:0.800000011920929;
	width:126px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e169_97 { 
	width:13px;
	height:13px;
	position:absolute;
	left:20px;
	top:8.5px;
}
.169_98 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e169_98 { 
	width:9.75px;
	height:9.75px;
	position:absolute;
	left:1.625px;
	top:1.625px;
}
.169_99 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e169_99 { 
	width:1.625px;
	height:1.625px;
	position:absolute;
	left:3.7916665077209473px;
	top:3.7916665077209473px;
}
.169_100 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e169_100 { 
	width:8.666666984558105px;
	height:5.958333492279053px;
	position:absolute;
	left:2.7083332538604736px;
	top:5.416666507720947px;
}
.e169_101 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:14px;
	position:absolute;
	left:45px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e169_102 { 
	width:25px;
	height:19px;
	position:absolute;
	left:544px;
	top:4px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e169_103 { 
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:265px;
	height:461px;
	position:absolute;
	left:810px;
	top:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.169_103 { 
	border:1px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}
.e169_104 { 
	width:230px;
	height:99.0000228881836px;
	position:absolute;
	left:17.5px;
	top:30px;
}
.e169_105 { 
	width:230px;
	height:28.00002098083496px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_106 { 
	width:128px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_107 { 
	color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:104px;
	height:15px;
	position:absolute;
	left:24px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e169_108 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_109 { 
	transform: rotate(0.000005008956130975318deg);
	width:230px;
	height:0px;
	position:absolute;
	left:0px;
	top:28px;
}
.169_109 { 
	border:1px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}
.e169_110 { 
	width:11px;
	height:13px;
	position:absolute;
	left:9.5px;
	top:1px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e169_111 { 
	box-shadow:0px 4px 4px rgba(0, 0, 0, 0.25);
	width:230px;
	height:61px;
	position:absolute;
	left:0px;
	top:38.000022888183594px;
}
.e169_112 { 
	width:230px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_113 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}
.e169_114 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:34px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}
.e169_115 { 
	width:230px;
	height:17px;
	position:absolute;
	left:0px;
	top:44px;
}
.e169_116 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}
.e169_117 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:17px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}
.e169_118 { 
	width:230px;
	height:109.0000228881836px;
	position:absolute;
	left:17.5px;
	top:169.00003051757812px;
}
.e169_119 { 
	width:230px;
	height:28.00002098083496px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_120 { 
	width:120px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_121 { 
	color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:96px;
	height:15px;
	position:absolute;
	left:24px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e169_122 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_123 { 
	width:14.915338516235352px;
	height:14.900339126586914px;
	position:absolute;
	left:1.542330265045166px;
	top:1.5498316287994385px;
}
.169_124 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_124 { 
	width:8.957670211791992px;
	height:9.704000473022461px;
	position:absolute;
	left:5.957669734954834px;
	top:0px;
}
.169_125 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e169_125 { 
	width:8.957670211791992px;
	height:9.704000473022461px;
	position:absolute;
	left:0px;
	top:5.196338653564453px;
}
.e169_126 { 
	transform: rotate(0.000005008956130975318deg);
	width:230px;
	height:0px;
	position:absolute;
	left:0px;
	top:28px;
}
.169_126 { 
	border:1px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}
.e169_127 { 
	width:230px;
	height:71px;
	position:absolute;
	left:0px;
	top:38.000022888183594px;
}
.e169_128 { 
	width:230px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}
.e169_129 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}
.e169_130 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:17px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}
.e169_131 { 
	width:230px;
	height:17px;
	position:absolute;
	left:0px;
	top:27px;
}
.e169_132 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}
.e169_133 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:17px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}
.e169_134 { 
	width:230px;
	height:17px;
	position:absolute;
	left:0px;
	top:54px;
}
.e169_135 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}
.e169_136 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:17px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}
