.1_384 { 
	overflow:hidden;
}.e1_384 { 
	background-color:rgba(250.00000029802322, 250.00000029802322, 250.00000029802322, 1);
	width:1440px;
	height:900px;
	position:absolute;
}.e1_385 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:816px;
	position:absolute;
	left:0px;
	top:84px;
}.e1_2086 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:40px;
}.e1_2091 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}.1_2092 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2092 { 
	width:12px;
	height:12px;
	position:absolute;
	left:2.25px;
	top:2.25px;
}.1_2093 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2093 { 
	width:3.262500762939453px;
	height:3.2624998092651367px;
	position:absolute;
	left:12.487499237060547px;
	top:12.487499237060547px;
}.e1_2088 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}.e1_387 { 
	width:310px;
	height:167px;
	position:absolute;
	left:0px;
	top:111px;
}.e1_388 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:35px;
	height:14px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}.e1_2070 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:24px;
}.e1_2079 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}.1_2080 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2080 { 
	width:9.75px;
	height:0px;
	position:absolute;
	left:6px;
	top:4.5px;
}.1_2081 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2081 { 
	width:9.75px;
	height:0px;
	position:absolute;
	left:6px;
	top:9px;
}.1_2082 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2082 { 
	width:9.75px;
	height:0px;
	position:absolute;
	left:6px;
	top:13.5px;
}.1_2083 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2083 { 
	width:0.0074999332427978516px;
	height:0px;
	position:absolute;
	left:2.25px;
	top:4.5px;
}.1_2084 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2084 { 
	width:0.0074999332427978516px;
	height:0px;
	position:absolute;
	left:2.25px;
	top:9px;
}.1_2085 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2085 { 
	width:0.0074999332427978516px;
	height:0px;
	position:absolute;
	left:2.25px;
	top:13.5px;
}.e1_2072 { 
	color:rgba(0, 0, 0, 1);
	width:37px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}.e1_2062 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:75px;
}.e1_2067 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}.1_2068 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2068 { 
	width:14.37868881225586px;
	height:14.374929428100586px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}.1_2069 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2069 { 
	width:0.007500171661376953px;
	height:0px;
	position:absolute;
	left:5.25px;
	top:5.25px;
}.e1_2064 { 
	color:rgba(0, 0, 0, 1);
	width:60px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}.e1_2054 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:126px;
}.e1_2059 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}.1_2060 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2060 { 
	width:10.5px;
	height:10.5px;
	position:absolute;
	left:3.75px;
	top:0.75px;
}.1_2061 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2061 { 
	width:7.5px;
	height:6.840001106262207px;
	position:absolute;
	left:5.25px;
	top:10.410000801086426px;
}.e1_2056 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}.e1_392 { 
	width:310px;
	height:167px;
	position:absolute;
	left:0px;
	top:308px;
}.e1_393 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:134px;
	height:14px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}.e1_2041 { 
	background-color:rgba(252.00000017881393, 236.00000113248825, 251.3600081205368, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:24px;
}.e1_2042 { 
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:5px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_2049 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}.e154_5 { 
	width:15px;
	height:16px;
	position:absolute;
	left:1px;
	top:2px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_2044 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}.e1_2033 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:75px;
}.e1_2038 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}.e1_2039 { 
	width:13.500020980834961px;
	height:13.500020980834961px;
	position:absolute;
	left:2.25px;
	top:2.2499783039093018px;
}.1_2040 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2040 { 
	width:13.500020980834961px;
	height:13.500020980834961px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_2035 { 
	color:rgba(0, 0, 0, 1);
	width:103px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}.e1_2027 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:126px;
}.e1_2031 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}.1_2032 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2032 { 
	width:15.677338600158691px;
	height:13.673869132995605px;
	position:absolute;
	left:1.1615327596664429px;
	top:2.2486302852630615px;
}.e1_2029 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}.e1_397 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:84px;
	position:absolute;
	left:0px;
	top:0px;
}.1_397 { 
	border:1px solid rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
}.e1_398 { 
	width:70.9281997680664px;
	height:50px;
	position:absolute;
	left:1319px;
	top:17px;
}.1_399 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_399 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/profile_pic.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_400 { 
	background-color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:6.928201675415039px;
	height:6px;
	position:absolute;
	left:64px;
	top:22px;
}.e1_401 { 
	width:24px;
	height:31px;
	position:absolute;
	left:1265px;
	top:23px;
}.e1_2023 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:7px;
}.e1_2024 { 
	width:18px;
	height:19.996456146240234px;
	position:absolute;
	left:3px;
	top:2px;
}.1_2025 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2025 { 
	width:18px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}.1_2026 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_2026 { 
	width:3.4599990844726562px;
	height:0.9964561462402344px;
	position:absolute;
	left:7.270000457763672px;
	top:19px;
}.e1_403 { 
	border-radius:500px;
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:9px;
	top:0px;
}.1_403 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e1_2013 { 
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:136px;
	height:38px;
	position:absolute;
	left:1086px;
	top:23px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_2019 { 
	width:13px;
	height:13px;
	position:absolute;
	left:20px;
	top:12.5px;
}.1_2020 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_2020 { 
	width:10.833333969116211px;
	height:10.833333969116211px;
	position:absolute;
	left:1.0833333730697632px;
	top:1.0833333730697632px;
}.1_2021 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_2021 { 
	position:absolute;
	left:6.5px;
	top:4.333333492279053px;
}.1_2022 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_2022 { 
	width:4.333333492279053px;
	height:0px;
	position:absolute;
	left:4.333333492279053px;
	top:6.5px;
}.e1_2015 { 
	color:rgba(255, 255, 255, 1);
	width:71px;
	height:14px;
	position:absolute;
	left:45px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}.e1_405 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:86px;
	height:21px;
	position:absolute;
	left:360px;
	top:31px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
}.e1_406 { 
	width:131.99993896484375px;
	height:52px;
	position:absolute;
	left:33.000057220458984px;
	top:18.000001907348633px;
}.e1_407 { 
	color:rgba(233.7500050663948, 148.04166734218597, 183.75345826148987, 1);
	width:75px;
	height:19px;
	position:absolute;
	left:56.999942779541016px;
	top:17.999967575073242px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:5;
}.e1_408 { 
	width:32.99998474121094px;
	height:33.3170166015625px;
	position:absolute;
	left:9px;
	top:33.3170166015625px;
}.e1_410 { 
	background-color:rgba(255, 255, 255, 0.8999999761581421);
	width:32.99998474121094px;
	height:33.3170166015625px;
	position:absolute;
	left:0px;
	top:0px;
}.e155_62 { 
	width:52px;
	height:49px;
	position:absolute;
	left:0px;
	top:3px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_411 { 
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 0.75);
	width:16px;
	height:15px;
	position:absolute;
	left:1353px;
	top:17px;
	border-top-left-radius:10px;
	border-top-right-radius:10px;
	border-bottom-left-radius:10px;
	border-bottom-right-radius:10px;
}.1_411 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_412 { 
	color:rgba(255, 255, 255, 1);
	width:6px;
	height:11px;
	position:absolute;
	left:5px;
	top:2px;
	font-family:Roboto;
	text-align:center;
	font-size:10px;
	letter-spacing:5;
}.e1_413 { 
	width:1120px;
	height:642px;
	position:absolute;
	left:310px;
	top:76px;
}.e1_414 { 
	width:720px;
	height:562px;
	position:absolute;
	left:45px;
	top:40px;
}.e1_1933 { 
	box-shadow:2px 1px 5px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(255, 255, 255, 1);
	width:720px;
	height:562px;
	position:absolute;
	left:0px;
	top:0px;
}.1_1934 { 
	border:2px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}.e1_1934 { 
	width:640px;
	height:34px;
	position:absolute;
	left:40px;
	top:30px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_1935 { 
	width:122px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1936 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:102px;
	height:14px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}.e1_1937 { 
	width:44px;
	height:24px;
	position:absolute;
	left:596px;
	top:5px;
}.e1_1962 { 
	width:24px;
	height:24px;
	position:absolute;
	left:10px;
	top:0px;
}.1_1963 { 
	border:1px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_1963 { 
	width:12px;
	height:6px;
	position:absolute;
	left:6px;
	top:9px;
}.1_1939 { 
	border:2px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}.e1_1939 { 
	width:640px;
	height:34px;
	position:absolute;
	left:40px;
	top:84px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_1940 { 
	width:173px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1941 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:153px;
	height:14px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}.1_1942 { 
	border:2px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}.e1_1942 { 
	width:640px;
	height:344px;
	position:absolute;
	left:40px;
	top:138px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_1943 { 
	width:124px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1944 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:104px;
	height:14px;
	position:absolute;
	left:10px;
	top:10px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}.e1_1945 { 
	width:640px;
	height:30px;
	position:absolute;
	left:40px;
	top:502px;
}.e1_1946 { 
	width:224px;
	height:30px;
	position:absolute;
	left:399px;
	top:0px;
}.e1_1965 { 
	background-color:rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
	width:113px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_1967 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:73px;
	height:14px;
	position:absolute;
	left:20px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}.e1_1971 { 
	background-color:rgba(244.0000006556511, 34.99999791383743, 210.5600318312645, 1);
	opacity:0.5;
	width:91px;
	height:30px;
	position:absolute;
	left:133px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_1976 { 
	width:13px;
	height:13px;
	position:absolute;
	left:20px;
	top:8.5px;
}.e1_1973 { 
	color:rgba(255, 255, 255, 1);
	width:26px;
	height:14px;
	position:absolute;
	left:45px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}.e1_1979 { 
	background-color:rgba(231.62500709295273, 88.78957718610764, 200.20116448402405, 1);
	opacity:0.800000011920929;
	width:126px;
	height:30px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.e1_1985 { 
	width:13px;
	height:13px;
	position:absolute;
	left:20px;
	top:8.5px;
}.1_1986 { 
	border:1px solid rgba(255, 255, 255, 1);
}.e1_1986 { 
	width:9.75px;
	height:9.75px;
	position:absolute;
	left:1.625px;
	top:1.625px;
}.1_1987 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e1_1987 { 
	width:1.625px;
	height:1.625px;
	position:absolute;
	left:3.7916665077209473px;
	top:3.7916665077209473px;
}.1_1988 { 
	border:2px solid rgba(255, 255, 255, 1);
}.e1_1988 { 
	width:8.666666984558105px;
	height:5.958333492279053px;
	position:absolute;
	left:2.7083332538604736px;
	top:5.416666507720947px;
}.e1_1981 { 
	color:rgba(255, 255, 255, 1);
	width:61px;
	height:14px;
	position:absolute;
	left:45px;
	top:8px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}.e154_2 { 
	width:25px;
	height:19px;
	position:absolute;
	left:544px;
	top:4px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_416 { 
	box-shadow:0px 0px 5px rgba(0, 0, 0, 0.05000000074505806);
	background-color:rgba(255, 255, 255, 1);
	width:265px;
	height:461px;
	position:absolute;
	left:810px;
	top:40px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}.1_416 { 
	border:1px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}.e1_417 { 
	width:230px;
	height:99.0000228881836px;
	position:absolute;
	left:17.5px;
	top:30px;
}.e1_1922 { 
	width:230px;
	height:28.00002098083496px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1923 { 
	width:128px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1924 { 
	color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:104px;
	height:15px;
	position:absolute;
	left:24px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}.e1_1929 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1926 { 
	transform: rotate(0.000005008956130975318deg);
	width:230px;
	height:0px;
	position:absolute;
	left:0px;
	top:28px;
}.1_1926 { 
	border:1px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}.e154_7 { 
	width:11px;
	height:13px;
	position:absolute;
	left:9.5px;
	top:1px;
	background-image:url(images/image_5.png);
	background-repeat:no-repeat;
	background-size:cover;
}.e1_419 { 
	width:230px;
	height:61px;
	position:absolute;
	left:0px;
	top:38.000022888183594px;
}.e1_1919 { 
	width:230px;
	height:34px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1920 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}.e1_1921 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:34px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}.e1_1916 { 
	width:230px;
	height:17px;
	position:absolute;
	left:0px;
	top:44px;
}.e1_1917 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}.e1_1918 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:17px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}.e1_422 { 
	width:230px;
	height:109.0000228881836px;
	position:absolute;
	left:17.5px;
	top:169.00003051757812px;
}.e1_1904 { 
	width:230px;
	height:28.00002098083496px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1905 { 
	width:120px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1906 { 
	color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:96px;
	height:15px;
	position:absolute;
	left:24px;
	top:1px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}.e1_1912 { 
	width:18px;
	height:18px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1913 { 
	width:14.915338516235352px;
	height:14.900339126586914px;
	position:absolute;
	left:1.542330265045166px;
	top:1.5498316287994385px;
}.1_1914 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_1914 { 
	width:8.957670211791992px;
	height:9.704000473022461px;
	position:absolute;
	left:5.957669734954834px;
	top:0px;
}.1_1915 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}.e1_1915 { 
	width:8.957670211791992px;
	height:9.704000473022461px;
	position:absolute;
	left:0px;
	top:5.196338653564453px;
}.e1_1908 { 
	transform: rotate(0.000005008956130975318deg);
	width:230px;
	height:0px;
	position:absolute;
	left:0px;
	top:28px;
}.1_1908 { 
	border:1px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}.e1_424 { 
	width:230px;
	height:71px;
	position:absolute;
	left:0px;
	top:38.000022888183594px;
}.e1_1901 { 
	width:230px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
}.e1_1902 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}.e1_1903 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:17px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}.e1_1898 { 
	width:230px;
	height:17px;
	position:absolute;
	left:0px;
	top:27px;
}.e1_1899 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}.e1_1900 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:17px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}.e1_1895 { 
	width:230px;
	height:17px;
	position:absolute;
	left:0px;
	top:54px;
}.e1_1896 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:17px;
	height:17px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:center;
	font-size:24px;
	letter-spacing:3;
	line-height:px;
}.e1_1897 { 
	color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:213px;
	height:17px;
	position:absolute;
	left:17px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:11px;
	letter-spacing:3;
	line-height:px;
}