{% extends '_layout.html' %}

{% block body %}
<h1 class="mb-5"></h1>
<h2>Had a bad day? Tell everyone how pissed you are!</h2>
<div class="mb-3">
    <form action="/posts" method="post" style = "margin-left: 43px;">
        <div class="col-sm-9">
            <label for="title" class="form-label">Post Title</label>
            <input type="text" name="title" id="title" class="form-control" autocomplete="off" required>
        </div>
        <div class="col-sm-9">
            <label for="body" class="form-label">Post Body</label>
            <textarea name="body" id="body" class="form-control" autocomplete="off" required></textarea>
        </div> <br/>
        <div class="col-sm-9">
        <button type="submit" class="btn btn-danger">Post</button>

        </div>
    </form>
</div>
{% endblock %}