{% extends '_liLayout.html' %}

{% block body %}

<div class="container">
  {%with messages = get_flashed_messages()%}
  {% if messages%}

  {% for message in messages%}
<div class="alert alert-warning alert-dismissible fade show" role="alert">
  <span>{{message}}</span>
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{%endfor%}
{%endif%}
{%endwith%}
</div>

<div class="row" style="height: 645px">
  <div class="col">
    <img src="../static/bookburning.jpg" alt="IDK" height="100%" width="90%">
  </div>
  <div class="col align-self-center">
    <h1>Get in Loser, We're Going Shitposting</h1>
    <p>Welcome back to BurnBook! Enter your information below to login and get burning</p>
    <form action="/login" method="POST">
        <div class="form-group row">
          <label for="username" class="col-sm-2 col-form-label">Username</label>
          <div class="col-sm-9">
            <input type="username" class="form-control" id="username" name="username" placeholder="Username" width="90%" required>
          </div>
        </div>
        <div class="form-group row">
          <label for="inputPassword3" class="col-sm-2 col-form-label">Password</label>
          <div class="col-sm-9">
            <input type="password" class="form-control" id="password" name="password" placeholder="Password" required>
          </div>
        </div>
        <div class="form-group row">
          <div class="col-sm-10">
            <button type="submit" class="btn btn-primary" style="background-color: pink;" style="border-color: red;">Sign in</button>
          </div>
        </div>
      </form>
  </div>
</div>

{% endblock %}