.146_82 { 
	overflow:hidden;
}
.e146_82 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:900px;
	position:absolute;
}
.e146_83 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:816px;
	position:absolute;
	left:0px;
	top:84px;
}
.e146_84 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:40px;
}
.e146_85 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.146_86 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_86 { 
	width:12px;
	height:12px;
	position:absolute;
	left:2.25px;
	top:2.25px;
}
.146_87 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_87 { 
	width:3.262500762939453px;
	height:3.2624998092651367px;
	position:absolute;
	left:12.487499237060547px;
	top:12.487499237060547px;
}
.e146_88 { 
	color:rgba(0, 0, 0, 1);
	width:44px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e146_89 { 
	width:310px;
	height:167px;
	position:absolute;
	left:0px;
	top:111px;
}
.e146_90 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:35px;
	height:14px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e146_91 { 
	background-color:rgba(255, 241.18749797344208, 246.94269955158234, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:24px;
}
.e146_92 { 
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:5px;
	height:41px;
	position:absolute;
	left:0px;
	top:0px;
}
.e146_93 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.146_94 { 
	border:2px solid rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
}
.e146_94 { 
	width:9.75px;
	height:0px;
	position:absolute;
	left:6px;
	top:4.5px;
}
.146_95 { 
	border:2px solid rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
}
.e146_95 { 
	width:9.75px;
	height:0px;
	position:absolute;
	left:6px;
	top:9px;
}
.146_96 { 
	border:2px solid rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
}
.e146_96 { 
	width:9.75px;
	height:0px;
	position:absolute;
	left:6px;
	top:13.5px;
}
.146_97 { 
	border:2px solid rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
}
.e146_97 { 
	width:0.0074999332427978516px;
	height:0px;
	position:absolute;
	left:2.25px;
	top:4.5px;
}
.146_98 { 
	border:2px solid rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
}
.e146_98 { 
	width:0.0074999332427978516px;
	height:0px;
	position:absolute;
	left:2.25px;
	top:9px;
}
.146_99 { 
	border:2px solid rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
}
.e146_99 { 
	width:0.0074999332427978516px;
	height:0px;
	position:absolute;
	left:2.25px;
	top:13.5px;
}
.e146_100 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:65px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e146_101 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:75px;
}
.e146_102 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.146_103 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_103 { 
	width:14.37868881225586px;
	height:14.374929428100586px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.146_104 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_104 { 
	width:0.007500171661376953px;
	height:0px;
	position:absolute;
	left:5.25px;
	top:5.25px;
}
.e146_105 { 
	color:rgba(0, 0, 0, 1);
	width:30px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e146_106 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:126px;
}
.e146_107 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.146_108 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_108 { 
	width:10.5px;
	height:10.5px;
	position:absolute;
	left:3.75px;
	top:0.75px;
}
.146_109 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_109 { 
	width:7.5px;
	height:6.840001106262207px;
	position:absolute;
	left:5.25px;
	top:10.410000801086426px;
}
.e146_110 { 
	color:rgba(0, 0, 0, 1);
	width:52px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e146_111 { 
	width:310px;
	height:167px;
	position:absolute;
	left:0px;
	top:308px;
}
.e146_112 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:134px;
	height:14px;
	position:absolute;
	left:50px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e146_113 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:24px;
}
.e146_114 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.e146_115 { 
	width:15px;
	height:15px;
	position:absolute;
	left:1.5px;
	top:1.5px;
}
.146_116 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_116 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.146_117 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_117 { 
	width:4.372502326965332px;
	height:4.50335693359375px;
	position:absolute;
	left:5.317500114440918px;
	top:3.74664306640625px;
}
.146_118 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_118 { 
	width:0.007500648498535156px;
	height:0px;
	position:absolute;
	left:7.5px;
	top:11.25px;
}
.e146_119 { 
	color:rgba(0, 0, 0, 1);
	width:96px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e146_120 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:75px;
}
.e146_121 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.e146_122 { 
	width:13.500020980834961px;
	height:13.500020980834961px;
	position:absolute;
	left:2.25px;
	top:2.2499783039093018px;
}
.146_123 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_123 { 
	width:13.500020980834961px;
	height:13.500020980834961px;
	position:absolute;
	left:0px;
	top:0px;
}
.e146_124 { 
	color:rgba(0, 0, 0, 1);
	width:87px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e146_125 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:126px;
}
.e146_126 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.146_127 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_127 { 
	width:15.677338600158691px;
	height:13.673869132995605px;
	position:absolute;
	left:1.1615327596664429px;
	top:2.2486302852630615px;
}
.e146_128 { 
	color:rgba(0, 0, 0, 1);
	width:115px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e146_162 { 
	background-color:rgba(255, 255, 255, 1);
	width:310px;
	height:41px;
	position:absolute;
	left:0px;
	top:477px;
}
.e146_163 { 
	width:18px;
	height:18px;
	position:absolute;
	left:50px;
	top:11px;
}
.e146_164 { 
	width:13.500020980834961px;
	height:13.500020980834961px;
	position:absolute;
	left:2.25px;
	top:2.2499783039093018px;
}
.146_165 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_165 { 
	width:13.500020980834961px;
	height:13.500020980834961px;
	position:absolute;
	left:0px;
	top:0px;
}
.e146_166 { 
	color:rgba(0, 0, 0, 1);
	width:75px;
	height:15px;
	position:absolute;
	left:80px;
	top:13px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e146_138 { 
	background-color:rgba(255, 255, 255, 1);
	width:1440px;
	height:84px;
	position:absolute;
	left:-11px;
	top:0px;
}
.146_138 { 
	border:1px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}
.e146_139 { 
	width:70.9281997680664px;
	height:50px;
	position:absolute;
	left:1319px;
	top:17px;
}
.146_140 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e146_140 { 
	width:50px;
	height:50px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:100px;
	border-top-right-radius:100px;
	border-bottom-left-radius:100px;
	border-bottom-right-radius:100px;
	background-image:url(images/profile_pic.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e146_141 { 
	background-color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:6.928201675415039px;
	height:6px;
	position:absolute;
	left:64px;
	top:22px;
}
.e146_142 { 
	width:24px;
	height:31px;
	position:absolute;
	left:1265px;
	top:23px;
}
.e146_143 { 
	width:24px;
	height:24px;
	position:absolute;
	left:0px;
	top:7px;
}
.e146_144 { 
	width:18px;
	height:19.996456146240234px;
	position:absolute;
	left:3px;
	top:2px;
}
.146_145 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_145 { 
	width:18px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.146_146 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_146 { 
	width:3.4599990844726562px;
	height:0.9964561462402344px;
	position:absolute;
	left:7.270000457763672px;
	top:19px;
}
.e146_147 { 
	border-radius:500px;
	background-color:rgba(22.000000588595867, 130.0000074505806, 253.0000001192093, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:9px;
	top:0px;
}
.146_147 { 
	border:2px solid rgba(255, 255, 255, 1);
}
.e146_148 { 
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:149px;
	height:38px;
	position:absolute;
	left:1086px;
	top:23px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e146_149 { 
	width:13px;
	height:13px;
	position:absolute;
	left:20px;
	top:12.5px;
}
.146_150 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e146_150 { 
	width:10.833333969116211px;
	height:10.833333969116211px;
	position:absolute;
	left:1.0833333730697632px;
	top:1.0833333730697632px;
}
.146_151 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e146_151 { 
	position:absolute;
	left:6.5px;
	top:4.333333492279053px;
}
.146_152 { 
	border:1px solid rgba(255, 255, 255, 1);
}
.e146_152 { 
	width:4.333333492279053px;
	height:0px;
	position:absolute;
	left:4.333333492279053px;
	top:6.5px;
}
.e146_153 { 
	color:rgba(255, 255, 255, 1);
	width:84px;
	height:14px;
	position:absolute;
	left:45px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:2;
}
.e146_154 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:60px;
	height:21px;
	position:absolute;
	left:360px;
	top:31px;
	font-family:Roboto;
	text-align:left;
	font-size:18px;
	letter-spacing:5;
}
.e157_2 { 
	width:133px;
	height:30.99996566772461px;
	position:absolute;
	left:50px;
	top:27px;
}
.e157_3 { 
	color:rgba(231.62500709295273, 120.63802421092987, 220.52627384662628, 1);
	width:85px;
	height:19px;
	position:absolute;
	left:48px;
	top:12px;
	font-family:Roboto;
	text-align:left;
	font-size:16px;
	letter-spacing:5;
}
.e157_4 { 
	width:24.999982833862305px;
	height:29.99996566772461px;
	position:absolute;
	left:0px;
	top:30px;
}
.e157_5 { 
	background-color:rgba(188.0000039935112, 187.00000405311584, 188.0000039935112, 1);
	width:23.753271102905273px;
	height:10.707423210144043px;
	position:absolute;
	left:0px;
	top:0px;
}
.e157_6 { 
	background-color:rgba(244.0000006556511, 128.0000075697899, 35.00000171363354, 1);
	width:19.715192794799805px;
	height:24.645946502685547px;
	position:absolute;
	left:5.2847900390625px;
	top:-5.3540191650390625px;
}
.e157_7 { 
	width:52px;
	height:49px;
	position:absolute;
	left:36px;
	top:17px;
	background-image:url(images/image_2.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e146_167 { 
	width:754px;
	height:226px;
	position:absolute;
	left:310px;
	top:654px;
}
.e146_191 { 
	width:735px;
	height:718px;
	position:absolute;
	left:10px;
	top:0px;
}
.e146_192 { 
	box-shadow:2px 1px 5px rgba(0, 0, 0, 0.15000000596046448);
	background-color:rgba(255, 255, 255, 1);
	width:725px;
	height:193px;
	position:absolute;
	left:5px;
	top:5px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.146_192 { 
	border:1px solid rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
}
.e146_193 { 
	width:665px;
	height:40px;
	position:absolute;
	left:30px;
	top:25px;
}
.e146_194 { 
	width:71px;
	height:33px;
	position:absolute;
	left:55px;
	top:4px;
}
.e146_195 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:58px;
	height:14px;
	position:absolute;
	left:0px;
	top:19px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:5;
}
.e146_196 { 
	color:rgba(0, 0, 0, 1);
	width:71px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:5;
}
.e146_197 { 
	border-radius:500px;
	width:40px;
	height:40px;
	position:absolute;
	left:0px;
	top:0px;
	background-image:url(images/ava.png);
	background-repeat:no-repeat;
	background-size:cover;
}
.e146_198 { 
	width:24px;
	height:24px;
	position:absolute;
	left:641px;
	top:8px;
}
.146_199 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_199 { 
	width:2px;
	height:2px;
	position:absolute;
	left:11px;
	top:11px;
}
.146_200 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_200 { 
	width:2px;
	height:2px;
	position:absolute;
	left:11px;
	top:4px;
}
.146_201 { 
	border:2px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_201 { 
	width:2px;
	height:2px;
	position:absolute;
	left:11px;
	top:18px;
}
.e146_202 { 
	width:665px;
	height:51px;
	position:absolute;
	left:30px;
	top:80px;
}
.e146_203 { 
	color:rgba(0, 0, 0, 1);
	width:216px;
	height:16px;
	position:absolute;
	left:0px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:5;
}
.e146_204 { 
	color:rgba(0, 0, 0, 1);
	width:665px;
	height:25px;
	position:absolute;
	left:0px;
	top:26px;
	font-family:Roboto;
	text-align:left;
	font-size:14px;
	letter-spacing:5;
	line-height:px;
}
.e146_205 { 
	background-color:rgba(255, 255, 255, 1);
	width:665px;
	height:22px;
	position:absolute;
	left:30px;
	top:146px;
}
.e146_206 { 
	width:198px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
}
.e146_207 { 
	background-color:rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
	width:60px;
	height:24px;
	position:absolute;
	left:0px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e146_208 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:40px;
	height:14px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:5;
}
.e146_209 { 
	background-color:rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
	width:48px;
	height:24px;
	position:absolute;
	left:70px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e146_210 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:28px;
	height:14px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:5;
}
.e146_211 { 
	background-color:rgba(234.00000125169754, 234.00000125169754, 234.00000125169754, 1);
	width:70px;
	height:24px;
	position:absolute;
	left:128px;
	top:0px;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}
.e146_212 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:50px;
	height:14px;
	position:absolute;
	left:10px;
	top:5px;
	font-family:Roboto;
	text-align:left;
	font-size:12px;
	letter-spacing:5;
}
.e146_213 { 
	background-color:rgba(255, 255, 255, 1);
	width:145px;
	height:15px;
	position:absolute;
	left:520px;
	top:3px;
}
.e146_214 { 
	width:41px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.e146_215 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:23px;
	height:15px;
	position:absolute;
	left:18px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:3;
}
.e146_216 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.146_217 { 
	border:1px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_217 { 
	width:13.75px;
	height:10px;
	position:absolute;
	left:0.625px;
	top:2.5px;
}
.146_218 { 
	border:1px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_218 { 
	width:3.75px;
	height:3.75px;
	position:absolute;
	left:5.625px;
	top:5.625px;
}
.e146_219 { 
	width:33px;
	height:15px;
	position:absolute;
	left:56px;
	top:0px;
}
.e146_220 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:15px;
	height:15px;
	position:absolute;
	left:18px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:3;
}
.e146_221 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.146_222 { 
	border:1px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_222 { 
	width:11.25px;
	height:11.25px;
	position:absolute;
	left:1.875px;
	top:1.875px;
}
.e146_223 { 
	width:41px;
	height:15px;
	position:absolute;
	left:104px;
	top:0px;
}
.e146_224 { 
	color:rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
	width:23px;
	height:15px;
	position:absolute;
	left:18px;
	top:0px;
	font-family:Roboto;
	text-align:left;
	font-size:13px;
	letter-spacing:3;
}
.e146_225 { 
	width:15px;
	height:15px;
	position:absolute;
	left:0px;
	top:0px;
}
.146_226 { 
	border:1px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_226 { 
	position:absolute;
	left:7.5px;
	top:3.125px;
}
.146_227 { 
	border:1px solid rgba(128.0000075697899, 128.0000075697899, 128.0000075697899, 1);
}
.e146_227 { 
	width:8.75px;
	height:4.375px;
	position:absolute;
	left:3.125px;
	top:3.125px;
}
.e218_18 { 
	background-color:rgba(248.0000004172325, 200.00000327825546, 220.00000208616257, 1);
	width:574px;
	height:472px;
	position:absolute;
	left:395px;
	top:114px;
}
.e218_19 { 
	border-radius:500px;
	background-color:rgba(255, 255, 255, 1);
	width:134.94973754882812px;
	height:133px;
	position:absolute;
	left:618px;
	top:137px;
}
.e218_22 { 
	color:rgba(0, 0, 0, 1);
	width:232px;
	height:33px;
	position:absolute;
	left:293px;
	top:601px;
	font-family:Roboto;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e218_21 { 
	color:rgba(0, 0, 0, 1);
	width:162px;
	height:33px;
	position:absolute;
	left:597px;
	top:459px;
	font-family:Roboto;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
.e218_20 { 
	background-color:rgba(255, 255, 255, 1);
	width:582px;
	height:112px;
	position:absolute;
	left:387px;
	top:290px;
}
.e218_23 { 
	color:rgba(0, 0, 0, 1);
	width:140px;
	height:33px;
	position:absolute;
	left:614px;
	top:323px;
	font-family:Roboto;
	text-align:center;
	font-size:28px;
	letter-spacing:0;
}
