{% extends '_layout.html' %}

{% block body %}
<style>
    body {
        font-family: sans-serif;
        background-image: url("../static/deskbook.jpg");
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center center;
        background-attachment: fixed;


    }
    .profile-container {
        max-width: 500px;
        height: 364px;
        margin: 0 auto;
        background-color: pink;
        border:2px solid red;
        border-radius: 40px;
        padding: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .post-container {
        margin: 0 auto;
        background: white;
        border:2px solid red;
        border-radius: 40px;
        padding: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
        overflow: auto;
    }
    
    
    .profile-image {
        text-align: center;
        margin-bottom: 30px;
        
    }
    .profile-image img {
        width: 100px;
        height: 100px;
        border-radius: 50%;
        border:2px solid red;

    }
    .profile-name {
        text-align: center;
        font-size: 24px;
        margin-bottom: 10px;
    }
    .profile-bio {
        font-size: 16px;
        line-height: 1.5;
    }
    .profile-details {
        list-style: none;
        padding: 0;
        margin-left: auto;
        margin-right: auto;

    }
    .profile-details li {
        display: flex;
        margin-bottom: 10px;
    }
    .profile-details li strong {
        min-width: 100px;
        font-weight: 600;
    }
</style>
</br>
</br>

        <div class="profile-container"align ="middle">
            {% if current_user_info.admin_status or same_user %}
            <table>
                <tr>
                <th>
                    <form action="/editprofile/{{user_page_info.user_id}}" method="GET">
                        <button type="submit" class="btn btn-primary"  style="background-color: red; border-color: black; bottom: 0px">Edit profile</button>
                    </form>
                  </th>
                  <th>
                    <form action="/deleteprofile/{{user_page_info.user_id}}" method="POST">
                        <button type="submit" class="btn btn-primary"  style="background-color: red; border-color: black; postition: relative;">Delete account</button>
                    </form>
                  </th>
                </tr>
            </table>
            {% endif %}
        </br>
            <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.3.1/dist/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
            <div class="profile-image">
                <img src="../static/pfp_{{pfp_num}}.jpg" align="middle" width="100" height="100"> 
            </div>

            <h1 class="profile-name">@{{user_page_info.username}}'s Burnbook</h1>
        
                    <strong>Number of Burns: </strong> </br>{{num_likes}}</br>
   
                    <strong>Number of Posts: </strong> </br>{{num_posts}}
    </br>
</br>
</br>
<h2 align="middle" style="background-color:white; max-width:500px; border-radius:30px">{{user_page_info.username}}'s Posts</h2></br>

{% for post in user_posts | reverse%}

        <div class="shadow p-3 mb-5 bg-body rounded col-sm-10 post-container" style="word-wrap: normal;">
            <!--<h2 href="/posts/{{post.post_id}}">{{ post.post_title }}</h2>-->
            <h2><a href="/posts/{{post.post_id}}" class="badge badge-light">{{ post.post_title }}</a></h2>
            
            <br/>
            <div class="edit-delete-btns">
            {{ post.post_body }}<br/> <br>
            {% if current_user_info.admin_status or same_user %}
            
            <table>
                <tr>
                    <th>
                        {% if post.post_body != "Burned!" %}
                        <form action="/edit/{{post.post_id}}" method="POST">
                            <button type="submit" class="btn btn-primary"  style="background-color: pink; border-color: red;">Edit post</button>
                        </form>
                        {% endif %}
                    </th>
                    <th><p style="color:white">......................</p></th>
                    <th>
                <form action="/deletepost/{{post.post_id}}" method="POST">
                    <button type="submit" class="btn btn-primary"  style="background-color: pink; border-color: red;">Delete post</button>
                </form>
            </th>
            </tr>
            </table>
        </div>
            {% endif %}
        </div>
        
        {% endfor %}
    </body>
    </html>
{% endblock %}