{% extends '_layout.html' %}

{% block body %}
<h1>Profile Page</h1>x


{%if pfp_num==1%}

<img src="{{url_for('static', filename='cadyphone_pfp.jpg')}}" align="middle" width="100" height="100">

{%elif pfp_num==2%}

<img src="{{url_for('static', filename='damian_pfp.jpg')}}" align="middle"  width="100" height="100">

{%elif pfp_num==3%}

<img src="{{url_for('static', filename='gretchen_pfp.jpg')}}" align="middle"  width="100" height="100">

{%elif pfp_num==4%}

<img src="{{url_for('static', filename='janis_pfp.jpg')}}" align="middle"  width="100" height="100">

{%elif pfp_num==5%}

<img src="{{url_for('static', filename='karen_pfp.jpg')}}" align="middle"  width="100" height="100">

{%elif pfp_num==6%}

<img src="{{url_for('static', filename='karenphone_pfp.jpg')}}" align="middle"  width="100" height="100">

{%elif pfp_num==7%}

<img src="{{url_for('static', filename='profile_pic.jpg')}}" align="middle" width="100" height="100">

{%elif pfp_num==8%}

<img src="{{url_for('static', filename='regina_pfp.jpg')}}" align="middle"  width="100" height="100">

{%elif pfp_num==9%}

<img src="{{url_for('static', filename='reginabunny_pfp.jpg')}}" align="middle"  width="100" height="100">

{% endif %}

{% endblock %}