{% extends '_layout.html' %}

{% block body %}

<style>
  .post-container {
        max-width: 800px;
        max-height: 300px;
        margin: 0 auto;
        background-color: pink;
        border:2px solid rgb(209, 88, 88);
        border-radius: 40px;
        padding: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }

    .comment-container {
        max-width: 800px;
        margin: 0 auto;
        background-color: pink;
        border:2px solid rgb(226, 83, 83);
        border-radius: 40px;
        padding: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }

  .burn-button {
  bottom: 0;
  right: 0;
  }

.postview {
        font-family: sans-serif;
        background-image: url("../static/deskbook.jpg");
    }

    .post-container {
        margin: 0 auto;
        background: white;
        border:2px solid red;
        border-radius: 40px;
        padding: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
    
    .allpostcont {
        max-width: 700px;
        margin: 0 auto;
        background-color: #F2F2F2; 
        padding: 20px;
        box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
    }
</style>

<body class="postview">
<div class="allpostcont">

    <div class ="post-container">
      <h1>{{current_post.post_title}}</h1>

      <h6><a href="/profile/{{current_post.users.user_id}}" class="badge badge-light">@{{current_post.users.username}}</a></h6>
      {{current_post.post_body}}</br><br>

      <h5>{{num_burns}}</h5>
    <div style="float:left; padding-right: 10px;">
      <form action="/burnpost/{{current_post.post_id}}" method="POST" class="burn-button">
        <input type="hidden" name="post_id" value={{current_post.post_id}}>
        <input type="hidden" name="user_id" value={{current_post.users.user_id}}>
        <button class="burn-button" id="button">Burn</button>
      </form>
    </div>

    <div style="float:left">
      <form action="/dousepost/{{current_post.post_id}}" method="POST" class="burn-button">
        <input type="hidden" name="post_id" value={{current_post.post_id}}>
        <input type="hidden" name="user_id" value={{current_post.users.user_id}}>
        <button class="burn-button" id="button">Douse</button>
      </form>
    </div>

    </div>
    <br>

    <div class ="comment-container">
      
      <form action="/comment" method="POST">
        <input type="hidden" name="post_id" value={{current_post.post_id}}>
        <h3><label for="comment">Spill some tea...</label></h3>
        <textarea id="comment" name="comment" placeholder="Comment here" style="width:500px; height:50px; border-radius: 10px;" required></textarea><br>
        <input type="submit" value="Submit" class="btn-danger" style="border-radius:10px">
      </form>
            
    </br>
      {% for comment in comments|reverse %}

      <div class="shadow p-3 mb-5" style="background-color:white; border-radius: 10px;">
      <strong><a href="/profile/{{comment.users.user_id}}" class="badge badge-light">@{{ comment.users.username }}</a></strong>
      </br>{{ comment.comment_body }}

      {% if current_user_info.admin_status or same_user %}
            <form action="/deletecomment/{{comment.comment_id}}" method="POST">
                <input type="hidden" name="post_id" value={{current_post.post_id}}>
                <button type="submit" class="btn btn-primary"  style="background-color: pink;" style="border-color: red;">Delete comment</button>
            </form>
      {% endif %}

      </div>

      {% endfor %}
    </div>

    
    <div class="navbar">
      <a href="#BBOYT" class="active">BBOYT</a>
      <a href="#">BBO INSTA</a>
      <a href="#contact">BBO Twitter</a>
    </div> 
  </div>

</body>
{% endblock %}

